extends ../components/base/layout

block variables
    - const title = "helpgkh"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "single-video.html"

block main
    main
        +breadcrumbs({
                isStatic: true,
                list: [
                    {
                        href: "#",
                        text: "Главная"
                    },
                    {
                        href: "#",
                        text: "Мы в СМИ"
                    },
                    {
                        href: "#",
                        text: "Руководитель Правовой Помощи ЖКХ принял участие в прямом эфире передачи «Телекурьер» на канале «78»"
                    }

                ]
            })
        +single-video()
        +form()
