mixin about-page()
    section.about-page 
        .progress__image-bg 
            img(src="img/sprite/bg-left.svg").progress__img-content
        .mainly__bg
            img(src="img/sprite/bg-right.svg").mainly__img 
        .about-page__content 
             ul.about-page__list 
                li.about-page__item
                    .about-page__info 
                        h1.about-page__title О компании
                        p.about-page__text Компания “Forteco” берет начало своего развития в 2008 году. В этом году были разработаны первые станции подкачки шин для АЗС, которые качают колесо с помощью нажатия одной кнопки 
                        p.about-page__text Сегодня посты подкачки шин Forteco - единственные в России запатентованные станции, которые корректно отражают давление в колесе и гарантировано работают круглый год 
                        p.about-page__text Наша главная задача - делать передвижение на автомобиле безопаснее, а жизнь водителя легче 
                    .about-page__images 
                        img(src="img/content/about1.png" alt="Фото компании Forteco").about-page__img 
                li.about-page__item 
                    .about-page__info 
                        h2.about-page__title Производство
                        p.about-page__text Наше производство размещается в Санкт-Петербурге и мы готовы предоставить любую техническую поддержку и помочь в решении любых вопросов, возникающих в процессе эксплуатации нашего оборудования в любой точке РФ и стран ТС.
                        p.about-page__text Производимое нашей компанией оборудование имеет ряд неоспоримых преимуществ:
                        ul 
                            li Низкие эксплуатационные расходы и удобство в обслуживании;
                            li Расширяет спектр оказываемых услуг;
                            li Безопасность в использовании и безопасность Ваших клиентов на дороге;
                            li Надежность и долгий срок службы;
                            li Доступная стоимость.
                    .about-page__images 
                        img(src="img/content/about2.png" alt="Фото компании Forteco").about-page__img 
                li.about-page__item 
                    .about-page__info 
                        h2.about-page__title Наши клиенты
                        p.about-page__text Стационарный пост накачки колес стал неотъемлемой частью для бизнеса в сфере услуг: он встречается на современных автозаправочных комплексах, автомойках, паркингах, торговых молах и центрах. Благодаря установке нашего оборудования. 
                        p.about-page__text Наше оборудование установлено на всех ведущих сетях АЗС (Газпром, Шелл, ЛУКОЙЛ, Роснефть и т.д.) и на парковках крупных торговых центров
                    .about-page__galery    
                        .about-page__images 
                            a(href="img/content/about3.png" data-fancybox="galary")
                                img(src="img/content/about3.png" alt="Фото продуктов компании Forteco").about-page__img 
                        .about-page__images 
                            a(href="img/content/about4.png" data-fancybox="galary")
                                img(src="img/content/about4.png" alt="Фото продуктов компании Forteco").about-page__img 
                        .about-page__images 
                            a(href="img/content/about5.png" data-fancybox="galary")
                                img(src="img/content/about5.png" alt="Фото продуктов компании Forteco").about-page__img 
                //- li.about-page-page__item  
                //-     .machine__info 
                //-         h2.machine__title How can we guarantee quality?
                //-         p.machine__text With a rich experience of many years, we have acquired the requisite expertise and excellence in our domain. Having scaled phenomenal heights of success, today we stand tall amidst a number of competitors across the world.<br><br>A well coordinated and expertly managed operation system and professional international sales team enable us to turn orders into final products and export them to approximately 30 countries and several regions across the globe.
                //-     .machine__images 
                //-         img(src="img/content/about3.png" alt="Фото компании Forteco 1").machine__img 
