mixin card-page()
    section.card-page 
        .card-page__content 
            h1.card-page__title Посты подкачки шин
            ul.card-page__list 
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product1.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин ATIS 210
                            p.card-page__text настенный монтаж
                            p.card-page__text наличие видеомодуля
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product2.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин APS 500
                            p.card-page__text встроенный компрессор
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product3.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Термобокс APSW 700 c подачей воды
                            p.card-page__text автомат подкачки шин
                            p.card-page__text устройство подачи воды
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product1.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин APS 500
                            p.card-page__text имеет компактный размер
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product2.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин ATIS 210
                            p.card-page__text настенный монтаж
                            p.card-page__text наличие видеомодуля
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product3.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин APS 500
                            p.card-page__text встроенный компрессор
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product1.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин ATIS 210
                            p.card-page__text настенный монтаж
                            p.card-page__text наличие видеомодуля
                        button(type="button").header__btn Подробнее
                li.card-page__item 
                    a(href="#").card-page__link
                        .card-page__image 
                            img(src="img/content/card-product2.png" alt="Пост подкачки шин")
                        .card-page__info 
                            h3.card-page__name Пост подкачки шин APS 500
                            p.card-page__text имеет компактный размер
                        button(type="button").header__btn Подробнее
            a(href="#").mainly__link Показать ещё