mixin catalog()
    section.catalog
        .catalog__bg.mainly__bg
            img(src="img/sprite/bg-right.svg").mainly__img 
        .catalog__content 
            h1.catalog__title Каталог оборудования
            ul.catalog__list
                li.catalog__item 
                    a(href="#").catalog__link
                        p.catalog__text Посты подкачки шин
                        .catalog__image 
                            img(src="img/content/cat1.png" alt="Фото товара").catalog__img
                li.catalog__item 
                    a(href="#").catalog__link
                        p.catalog__text Оборудование для обслуживание ковров
                        .catalog__image 
                            img(src="img/content/cat2.png" alt="Фото товара").catalog__img
                li.catalog__item 
                    a(href="#").catalog__link
                        p.catalog__text Шкафы-вода
                        .catalog__image 
                            img(src="img/content/cat3.png" alt="Фото товара").catalog__img
                li.catalog__item 
                    a(href="#").catalog__link
                        p.catalog__text Хоз-быт
                        .catalog__image 
                            img(src="img/content/cat4.png" alt="Фото товара").catalog__img
                li.catalog__item 
                    a(href="#").catalog__link
                        p.catalog__text Пылесосы
                        .catalog__image 
                            img(src="img/content/cat5.png" alt="Фото товара").catalog__img