mixin intro()
  section.intro
    .intro__content
      .intro__inner
        .intro__info  
          h1.intro__title <span>Современное</span> и практичное оборудование для вашего бизнеса
          p.intro__text Используйте в сервисных зонах АЗС, на автомойках, уличных парковках, торговых молах и центрах
          ul.intro__list 
            li.intro__item 
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="17.1777" transform="rotate(135 25 25)" stroke="url(#paint0_linear_676_4102)"/>
              <path d="M18.3975 23.6791L23.6801 28.9616L31.6039 21.0378" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <defs>
              <linearGradient id="paint0_linear_676_4102" x1="2.13688" y1="29.4194" x2="43.9044" y2="33.3202" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
              p.intro__text-item Посты подкачки шин
            li.intro__item 
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="17.1777" transform="rotate(135 25 25)" stroke="url(#paint0_linear_676_4102)"/>
              <path d="M18.3975 23.6791L23.6801 28.9616L31.6039 21.0378" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <defs>
              <linearGradient id="paint0_linear_676_4102" x1="2.13688" y1="29.4194" x2="43.9044" y2="33.3202" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
              p.intro__text-item Пылесосы
            li.intro__item 
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="17.1777" transform="rotate(135 25 25)" stroke="url(#paint0_linear_676_4102)"/>
              <path d="M18.3975 23.6791L23.6801 28.9616L31.6039 21.0378" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <defs>
              <linearGradient id="paint0_linear_676_4102" x1="2.13688" y1="29.4194" x2="43.9044" y2="33.3202" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
              p.intro__text-item Шкафы вода
            li.intro__item 
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="17.1777" transform="rotate(135 25 25)" stroke="url(#paint0_linear_676_4102)"/>
              <path d="M18.3975 23.6791L23.6801 28.9616L31.6039 21.0378" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <defs>
              <linearGradient id="paint0_linear_676_4102" x1="2.13688" y1="29.4194" x2="43.9044" y2="33.3202" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
              p.intro__text-item Хоз-быт
          a(href="#").intro__link Выбрать оборудование
        .intro__image 
          img(src="img/content/auto.png").intro__img 
          .intro__image-bg 
            img(src="img/sprite/ellipse-intro.svg").intro__img-bg
    //- .intro__image-bg 
    //-   img(src="img/sprite/ellipse-intro.svg").intro__img-bg