mixin mainly ()
    section.mainly
        .mainly__bg
            img(src="img/sprite/bg-right.svg").mainly__img 
        .mainly__content
            h2.mainly__title Почему <span>стоит</span> <span>обратиться</span> к нам?  
            .mainly__inner 
                .mainly__info 
                    p.mainly__text Одно из главных направлений деятельности нашей компании – производство и продажа автоматов для подкачки шин. В нашем каталоге представлены различные решения, одно из которых обязательно подойдет Вам. 
                    p.mainly__text Приобретая пост подкачки шин у нас, вы увеличивается рост потенциальных лояльных покупателей, поэтому его можно считать выгодным вложением средств. Наличие данного оборудования – заметное преимущество среди конкурентов
                    a(href="#").mainly__link Подробнее
                .mainly__images
                    .mainly__image 
                        img(src="img/content/mainly.png" alt="Автомат для подкачки").mainly__img-big
                    .mainly__image-small
                        .mainly__small-image 
                            img(src="img/content/small1.png" alt="Автомат для подкачки").mainly__img-small
                        .mainly__small-image
                            img(src="img/content/small2.png" alt="Автомат для подкачки").mainly__img-small
            a(href="#").mainly__link.mainly__link--mobile Подробнее