mixin page404()
    section.page404
        .page404__content 
            .page404__inner
                .page404__image 
                    img(src="img/content/404.png" alt="page-404").page404__img
                    .page404__bg 
                        img(src="img/sprite/404.svg")
                h1.page404__title Страница не найдена
                p.page404__text Похоже, мы не можем найти нужную вам страницу
                a(href="/").header__btn Вернуться на главную страницу