mixin partners() 
    section.partners
        .partners__bg-center 
            img(src="img/sprite/bg-centr.svg")
        .partners__content
            h2.mainly__title Наше оборудование установлено у <span>лидеров</span> рынка
            .partners__slider.swiper__container
                ul.partners__list.swiper-wrapper  
                    li.partners__item.swiper-slide 
                        img(src="img/content/card1.png").partners__img
                    li.partners__item.swiper-slide
                        img(src="img/content/card2.png").partners__img 
                    li.partners__item.swiper-slide
                        img(src="img/content/card3.png").partners__img 
                    li.partners__item.swiper-slide
                        img(src="img/content/card4.png").partners__img
                    li.partners__item.swiper-slide
                        img(src="img/content/card3.png").partners__img 
                    li.partners__item.swiper-slide 
                        img(src="img/content/card4.png").partners__img
            .swiper-button-next
            .swiper-button-prev
            a(href="#").partners__link.mainly__link Показать ещё