mixin process()
    section.process 
        .process__content 
            h2.process__title Как мы работаем
            .process__inner 
                .process__card 
                    span.process__number 1
                    p.process__text Изучаем все материалы дела
                .process__card 
                    span.process__number 2
                    p.process__text Собираем и подготавливаем необходимые документы
                .process__card 
                    span.process__number 3
                    p.process__text Подаём встречные иски
                .process__card 
                    span.process__number 4
                    p.process__text Присутствуем при рассмотрении дела в суде
                .process__card 
                    span.process__number 5
                    p.process__text Получаем положительное решение
                .process__card 
                    span.process__number 6
                    p.process__text Передаём собранные материалы и результаты дела клиенту