.page404 {
    overflow: hidden;
    &__content {
        max-width: 1420px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 40px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    &__image {
        grid-column: 1;
        position: relative;
    }

    &__bg {
        position: absolute;
        top: -50px;
        left: -100px;
        z-index: -1;
        filter: blur(30px);
        width: 1000px;
        height: 900px;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: Onest;
        font-size: 48px;
        font-weight: 700;
        line-height: 150%;
        margin: -100px 0 0;
        grid-column: 2;
        grid-row: 1;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-family: Onest;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        grid-column: 2;
        grid-row: 1;
        margin: -10px 0 0;
    }

    .header__btn {
        max-width: 320px;
        color: rgb(255, 255, 255);
        font-family: Onest;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        padding: 17px;
        text-align: center;
        display: block;
        grid-column: 2;
        grid-row: 1;
        margin-top: 120px;
    }

    @media screen and (max-width: 1366px) {
        &__title {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 1280px) {
        &__bg {
            left: -200px;
        }

        &__title {
            font-size: 34px;
        }
    }

    @media screen and (max-width: 1100px) {
        &__title {
            font-size: 28px;
        }

        &__text {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__content {
            padding: 50px 40px;
        }

        &__bg {
            top: 50px;
            left: 0px;
            width: 750px;
            height: 650px;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            font-size: 40px;
            order: 1;
            margin-top: 0;
        }

        &__image {
            order: 2;
        }

        &__text {
            font-size: 18px;
            order: 3;
            margin: 0 0 10px;
        }

        .header__btn {
            order: 4;
            margin-top: 0;
        }

    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 30px 45px 50px;
        }

        &__bg {
            top: -20px;
            left: -50px;
        }

        &__title {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 630px) {
        &__bg {
            top: 0px;
            left: -30px;
            width: 600px;
            height: 500px;
        }

    }

    @media screen and (max-width: 540px) {
        &__bg {
            top: 0px;
            left: 0px;
            width: 500px;
            height: 400px;
        }
    }

    @media screen and (max-width: 480px) {
        &__bg {
            top: -40px;
            left: -40px;
        }

        &__title {
            font-size: 28px;
        }

        .header__btn {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 390px) {
        &__content {
            padding: 30px 20px 50px;
        }

        &__title {
            font-size: 25px;
        }

        &__text {
            font-size: 15px;
        }

        .header__btn {
            font-size: 14px;
            padding: 12px;
        }
    }

    @media screen and (max-width: 350px) {
        &__bg {
            top: -50px;
            left: -80px;
        }
    }
}