.single-video {
    &__content {
        max-width: 1420px;
        width: 100%;
        margin: 0 auto;
        padding: 0 40px 70px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    &__inner {
        max-width: 1280px;
    }

    &__video-mobile {
        display: none;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-family: Oswald;
        font-size: 40px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 44px;
    }

    &__date {
        color: rgb(104, 104, 104);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 20px;
    }

    &__video {
        position: relative;
        margin-bottom: 30px;
    }


    &__icon {
        position: absolute;
        top: 50%;
        left: 47%;
        cursor: pointer;
        transition: .2s;
    }

    &__icon:hover {
        svg {
            circle {
                fill: rgb(0, 194, 0);
            }
        }
    }

    &__block-text {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        margin: 0 0 30px;
    }

    .document__block-item {
        transition: .2s;
    }

    .document__block-item:hover {
        transform: scale(0.98);
    }

    @media screen and (max-width: 1890px) {
        &__inner {
            max-width: 1200px;
        }

    }

    @media screen and (max-width: 1750px) {
        &__inner {
            max-width: 1100px;
        }
    }

    @media screen and (max-width: 1550px) {
        &__inner {
            max-width: 1000px;
        }
    }

    @media screen and (max-width: 1390px) {
        .news-block {
            display: none;
        }

        &__inner {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 0 45px 50px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 20px;
        }

        &__icon {
            top: 45%;

            svg {
                width: 40px;
                height: 40px;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
            top: 59%;
        }

        .swiper-button-next::after {
            font-size: 17px;
            font-weight: 700;
            color: black;
            background: transparent;
        }

        .swiper-button-next:hover {
            opacity: 0.5;
        }

        .swiper-button-prev::after {
            font-size: 17px;
            font-weight: 700;
            color: black;
            background: transparent;
        }

        .swiper-button-prev:hover {
            opacity: 0.5;
        }

        .swiper-button-prev {
            left: 20px;
            padding-right: 20px;
        }

        /*.swiper-button-next {
            left: auto;
            right: -20px;
            padding-left: 20px;
        }*/

        &__video-desctop {
            display: none;
        }

        &__video-mobile {
            display: block;
        }
    }

    @media screen and (max-width: 730px) {

        .swiper-button-prev,
        .swiper-button-next {
            top: 56%;
        }
    }

    @media screen and (max-width: 620px) {
        &__title {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 470px) {

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
            top: 57%;
        }
    }

    @media screen and (max-width: 410px) {

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
            top: 57%;
        }
    }

    @media screen and (max-width: 390px) {
        &__content {
            padding: 0 35px 40px;
        }

        &__block-text {
            font-size: 16px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
            top: 55%;
        }
    }


}