.team {
    background: rgb(248, 248, 248);

    &__content {
        max-width: 1420px;
        width: 100%;
        margin: 0 auto;
        padding: 70px 40px;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-family: Oswald;
        font-size: 40px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 44px;
    }

    .news__text {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }

    .news__all {
        margin-right: 100px;
    }

    &__slider {
        padding: 15px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        max-width: 1280px;
    }

    &__item {
        box-shadow: 4px 4px 20px rgba(103, 103, 103, 0.3);
        transition: .2s;
    }

    &__item:hover {
        transform: scale(0.98);
        box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.3);
    }

    &__item:hover &__btn {
        color: rgb(0, 194, 0);
    }

    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        background: rgb(255, 255, 255);
    }

    &__image {
        height: auto;
        padding: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 0 20px 30px;
        margin-bottom: 0;
        flex-grow: 1;
    }

    &__profi {
        color: rgb(128, 128, 128);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 10px;
    }

    &__name {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 20px;
    }

    &__btn {
        color: rgb(0, 174, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
        text-align: left;
        margin: auto 0 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    @media screen and (max-width: 1900px) {
        .news__all {
            margin-right: 250px;
        }

        &__list {
            max-width: 1200px;
        }
    }

    @media screen and (max-width: 1750px) {
        .news__all {
            margin-right: 350px;
        }

        &__list {
            max-width: 1100px;
        }
    }

    @media screen and (max-width: 1550px) {
        &__list {
            max-width: 1000px;
        }

        &__image {
            height: 230px;
        }

        &__info {
            padding: 0 10px 30px;
        }


        &__profi {
            font-size: 15px;
        }

        &__name {
            font-size: 18px;
        }

        &__btn {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1380px) {
        .news__all {
            margin-right: 70px;
        }

        &__list {
            max-width: 100%;
            gap: 20px;
        }

        &__image {
            height: 290px;
        }

        &__info {
            padding: 0 20px 30px;
        }

        &__profi {
            font-size: 16px;
        }

        &__name {
            font-size: 20px;
        }

        &__btn {
            font-size: 18px;
        }

    }

    @media screen and (max-width: 1190px) {
        &__image {
            height: auto;
        }
    }

    @media screen and (max-width: 1050px) {
        &__content {
            position: relative;
        }

        &__slider {
            max-width: 700px;
            margin: 0 auto;
        }

        &__list {
            gap: 0;
        }

        .swiper-slide {
            max-width: 450px;
            box-shadow: 4px 4px 10px rgba(103, 103, 103, 0.3);
        }

        .swiper-slide:hover {
            box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.3);
        }

        &__image {
            height: auto;
            width: auto;
        }

        &__img {
            width: 100%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: block;
            top: 60%;
        }

        .swiper-button-next::after {
            font-size: 17px;
            font-weight: 700;
            color: black;
            background: transparent;
        }

        .swiper-button-next:hover {
            opacity: 0.5;
        }

        .swiper-button-prev::after {
            font-size: 17px;
            font-weight: 700;
            color: black;
            background: transparent;
        }

        .swiper-button-prev:hover {
            opacity: 0.5;
        }

        .swiper-button-prev {
            left: 30px;
        }

        .swiper-button-next {
            left: auto;
            right: 0px;
        }
    }

    @media screen and (max-width: 850px) {
        .news__text {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 50px 45px;
        }
    }

    @media screen and (max-width: 640px) {
        .news__titles {
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }

        &__btn {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 410px) {
        .news__text {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 390px) {
        &__content {
            padding: 40px 35px;
        }
    }




}