mixin footer()
  footer.footer
    .footer__content
      .footer__inner
        a.footer__logo(href="/", aria-label="Переход на главную")
          img(src="img/content/logo.png" alt="Лого").footer__logo-img
        .footer__icons
          .footer__social 
            a.footer__social-link(href="#")
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20Z" fill="#2E2E2E" fill-opacity="0.7"/>
              <path d="M21.0459 26.5635C21.0459 26.5635 21.4309 26.5215 21.6281 26.3136C21.8086 26.1231 21.8024 25.7636 21.8024 25.7636C21.8024 25.7636 21.7784 24.0849 22.5724 23.837C23.355 23.5933 24.3598 25.4604 25.4261 26.1784C26.2317 26.7212 26.8431 26.6024 26.8431 26.6024L29.6927 26.5635C29.6927 26.5635 31.1827 26.4734 30.4763 25.3232C30.4178 25.2289 30.0641 24.472 28.3581 22.9173C26.5708 21.2898 26.8108 21.553 28.9623 18.7375C30.2728 17.0229 30.7966 15.9762 30.6328 15.5286C30.4773 15.1005 29.5132 15.2142 29.5132 15.2142L26.3057 15.2337C26.3057 15.2337 26.0678 15.2019 25.8915 15.3053C25.7193 15.4067 25.6077 15.6433 25.6077 15.6433C25.6077 15.6433 25.1006 16.9697 24.4234 18.0984C22.995 20.4786 22.4242 20.6046 22.1905 20.4571C21.6469 20.112 21.7825 19.0724 21.7825 18.3339C21.7825 16.0264 22.1394 15.0647 21.0887 14.8158C20.7402 14.7328 20.4835 14.6785 19.5914 14.6693C18.4467 14.658 17.4785 14.6734 16.9296 14.9366C16.5644 15.1118 16.2827 15.503 16.4549 15.5256C16.6667 15.5532 17.1467 15.6526 17.4012 15.9926C17.7299 16.432 17.7184 17.4173 17.7184 17.4173C17.7184 17.4173 17.9073 20.1335 17.2771 20.4704C16.8451 20.7019 16.2524 20.2298 14.9784 18.0697C14.3263 16.9635 13.8338 15.7406 13.8338 15.7406C13.8338 15.7406 13.7389 15.5122 13.5688 15.3893C13.3632 15.2408 13.0763 15.1947 13.0763 15.1947L10.0285 15.2142C10.0285 15.2142 9.57042 15.2265 9.40243 15.4221C9.25323 15.5952 9.39096 15.9547 9.39096 15.9547C9.39096 15.9547 11.7772 21.4353 14.4797 24.1976C16.9578 26.7294 19.7708 26.5635 19.7708 26.5635H21.0459Z" fill="url(#paint0_linear_1073_660)"/>
              <defs>
              <linearGradient id="paint0_linear_1073_660" x1="6.20412" y1="22.1334" x2="30.9384" y2="26.2584" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
            a.footer__social-link(href="#")
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20Z" fill="#2E2E2E" fill-opacity="0.7"/>
              <path d="M30.2205 15.0611C29.9752 14.1186 29.2523 13.3764 28.3343 13.1245C26.6708 12.6667 19.9997 12.6667 19.9997 12.6667C19.9997 12.6667 13.3285 12.6667 11.6649 13.1245C10.7469 13.3764 10.024 14.1186 9.7787 15.0611C9.33301 16.7693 9.33301 20.3334 9.33301 20.3334C9.33301 20.3334 9.33301 23.8974 9.7787 25.6057C10.024 26.5482 10.7469 27.2904 11.6649 27.5424C13.3285 28.0001 19.9997 28.0001 19.9997 28.0001C19.9997 28.0001 26.6708 28.0001 28.3343 27.5424C29.2523 27.2904 29.9752 26.5482 30.2205 25.6057C30.6663 23.8974 30.6663 20.3334 30.6663 20.3334C30.6663 20.3334 30.6663 16.7693 30.2205 15.0611Z" fill="url(#paint0_linear_1073_664)"/>
              <path d="M18 23.9999V17.3333L23.3333 20.6667L18 23.9999Z" fill="#2E2E2E" fill-opacity="0.7"/>
              <defs>
              <linearGradient id="paint0_linear_1073_664" x1="6.20412" y1="22.2501" x2="31.2043" y2="25.4986" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
            a.footer__social-link(href="#")
             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z" fill="#2E2E2E" fill-opacity="0.7"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6596 31.127H20.6546C18.6642 31.1263 16.7085 30.6269 14.9714 29.6795L8.66699 31.3333L10.3542 25.1706C9.31344 23.367 8.76581 21.3212 8.7667 19.2251C8.76931 12.668 14.1043 7.33325 20.6594 7.33325C23.8409 7.33463 26.8268 8.57314 29.0722 10.8211C31.3175 13.0689 32.5534 16.0569 32.5521 19.2345C32.5495 25.7901 27.2166 31.1243 20.6596 31.127ZM15.2635 27.5265L15.6245 27.7407C17.1421 28.6413 18.8818 29.1178 20.6556 29.1185H20.6596C26.1077 29.1185 30.5419 24.6842 30.5441 19.2338C30.5451 16.5926 29.518 14.1092 27.6517 12.2407C25.7855 10.3723 23.3036 9.34286 20.6634 9.34195C15.2111 9.34195 10.7768 13.7758 10.7746 19.2258C10.7739 21.0936 11.2965 22.9125 12.2859 24.4863L12.521 24.8603L11.5224 28.5079L15.2635 27.5265ZM26.244 21.795C26.4513 21.8951 26.5912 21.9628 26.651 22.0625C26.7252 22.1864 26.7252 22.7814 26.4777 23.4756C26.23 24.1697 25.0429 24.8032 24.4719 24.8885C23.96 24.9651 23.3121 24.997 22.6003 24.7708C22.1687 24.6338 21.6152 24.451 20.9063 24.1448C18.1205 22.9419 16.2378 20.2419 15.882 19.7316C15.8571 19.6959 15.8397 19.6709 15.83 19.6579L15.8276 19.6547C15.6703 19.4448 14.6166 18.0389 14.6166 16.5839C14.6166 15.2151 15.289 14.4977 15.5984 14.1674C15.6196 14.1448 15.6391 14.124 15.6566 14.1049C15.929 13.8074 16.2509 13.733 16.449 13.733C16.6471 13.733 16.8454 13.7349 17.0186 13.7436C17.0399 13.7446 17.0621 13.7445 17.0851 13.7444C17.2583 13.7434 17.4742 13.7421 17.6871 14.2537C17.7691 14.4506 17.889 14.7424 18.0154 15.0503C18.2711 15.6728 18.5536 16.3606 18.6033 16.4601C18.6776 16.6088 18.7271 16.7823 18.6281 16.9807C18.6132 17.0105 18.5995 17.0385 18.5863 17.0654C18.5119 17.2172 18.4572 17.329 18.331 17.4764C18.2813 17.5344 18.23 17.5969 18.1787 17.6594C18.0764 17.7839 17.9742 17.9083 17.8852 17.997C17.7364 18.1452 17.5816 18.306 17.7549 18.6035C17.9283 18.901 18.5246 19.874 19.408 20.662C20.3576 21.509 21.183 21.867 21.6013 22.0485C21.683 22.0839 21.7492 22.1126 21.7977 22.1369C22.0948 22.2857 22.2681 22.2608 22.4415 22.0625C22.6148 21.8642 23.1843 21.1948 23.3824 20.8974C23.5804 20.6 23.7786 20.6495 24.0509 20.7486C24.3234 20.8479 25.7843 21.5667 26.0815 21.7154C26.1395 21.7445 26.1937 21.7707 26.244 21.795Z" fill="url(#paint0_linear_1073_669)"/>
              <defs>
              <linearGradient id="paint0_linear_1073_669" x1="5.16384" y1="22.3332" x2="33.3832" y2="24.9561" gradientUnits="userSpaceOnUse">
              <stop offset="0.015" stop-color="#05465D"/>
              <stop offset="0.52" stop-color="#2B91A7"/>
              <stop offset="1" stop-color="#227284"/>
              </linearGradient>
              </defs>
              </svg>
        .footer__documents
          .footer__number 
            h4.footer__name Адрес
            p.footer__adress г. Санкт-Петербург, ул. Книпович, д.12
          .footer__contacts
            h4.footer__name Контакты
            .footer__number 
              h4.footer__name Email:
              a(href="mailto:info@forteco.pro").footer__adress info@forteco.pro
            .footer__number 
              h4.footer__name Телефон:
              a(href="tel:+78129462509").footer__adress +7 (812) 946-25-09
        .footer__category
          h4.footer__name.footer__name--categ Продукция
          a(href="#") Пост подкачки шин серии ATIS
          a(href="#") Пост подкачки шин серии APS
          a(href="#") Посты подкачки серии APSW
          a(href="#") Пылесос STL
          a(href="#") Шкаф вода WB1340
        ul.footer__menu 
          li.footer__item 
            a(href="#") Услуги
          li.footer__item 
            a(href="#") Оборудование
          li.footer__item 
            a(href="#") О компании
          li.footer__item 
            a(href="#") Информация
          li.footer__item 
            a(href="#") Контакты
        .footer__low 
          a(href="#").footer__low-link Договор оферта
          a(href="#").footer__low-link Политика конфиденциальности
        //- .footer__contacts 
        //-   h4.footer__name Контакты
        //-   ul.footer__contacts-list 
        //-     li.footer__contacts-item 
        //-       p.footer__contacts-name Телефон:
        //-       a(href="tel:+79214473650").footer__contacts-link +7 (921)-447-36-50
        //-     li.footer__contacts-item 
        //-       p.footer__contacts-name Почта:
        //-       a(href="mailto:mail@helpgkh.ru").footer__contacts-link mail@helpgkh.ru
        //-   .footer__raiting 
        //-     img(src="img/content/yandex.jpg")
        //- .footer__links-mobile
        //-   a(href="#").footer__autor-mobile Сайт разработан студией  Van Gogh Link 
        //-   .footer__low-mobile 
        //-     a(href="#").footer__low-link-mobile Договор оферта
        //-     a(href="#").footer__low-link-mobile Политика конфиденциальности
      .footer__info 
        p.footer__spam Этот сайт защищен от спама службой reCAPTCHA Google. <a href="#" class="footer__spam-link">Политика конфиденциальности</a>/<a href="#" class="footer__spam-link">Условия предоставления услуг</a>
        a(href="#").footer__autor Сайт разработан студией  Van Gogh Link 